@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

/********* navbar *******/
.navbar-brand {
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 2px;
  color:#FFD401;
  
}
@media (max-width: 360px) {
    .navbar-brand {
        font-weight: 300;
        font-size: 27px;
        letter-spacing: 2px;
    }
    p, h4{
        line-height: 20px;
        font-size: 12px;
    }


    ul li{
        line-height: 20px;
        font-size: 12px;
    }
}

button a{
  color: white;
}
button a:hover{
  color:white;
}
footer{
  padding: 4em;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
table{
    margin-top: 2em;
}
tfoot select {
  width: 100%;
}
input.input-sm{
    margin-left: 10px;
}
#example_filter{
    text-align: right;
}
#example_paginate{
    text-align: right;
}
select{
    width: 100%;
}
th.sort{ 
    background-image: url(../images/bg.gif); 
    cursor: pointer; 
    padding-left: 1em;
    background-repeat: no-repeat; 
    background-position: center right;  
}

/*----------------------------------------------------
Forms
-----------------------------------------------------*/
label {
    margin-top:10px;
    margin-bottom:0;
    display:block;
    font-size:1em;
    font-weight:bold;
}

fieldset label {
    margin-top:0px;
}

legend {
    margin-bottom:5px;
    font-size:1em;
    border-bottom:0px;
}

.checkboxLabel, .radioLabel {
    display:inline;
}

.form-instructions {
    margin:5px 0px;
    color:grey;
}

input[type=text],input[type=password],select {
    width:300px;
    font-size:20px;
}

.error {
    color:red;
    margin:0;
    margin-top:5px;
    padding:0;
    list-style-type:none;
}


.flash_message {
    width:100%;
    text-align:center;
    padding:5px;
    position:fixed;
    top:0;
    left:0;
    background-color:yellow;
}
